{{!-- Most CSS style in this page from Bootstrap v5.0--}}
<!-- Modal -->
{{#each breeds}}
<div class="modal fade" id="breed-{{this._id}}" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{this.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          {{#if this.alt_names}}Alt Names: {{this.alt_names}}<br>{{/if}}
          Origin: {{this.origin}}<br>
          Weight: {{this.weight.metric}} kg<br>
          Life Span: {{this.life_span}} yrs
        </p>
        <p>
        <div class="d-flex justify-content-evenly" id="rating-container">
          <div class="">
            Affection Level:<br>
            {{{rateProperty this.affection_level}}}<br>
            Adaptability:<br>
            {{{rateProperty this.adaptability}}}<br>
            Child Friendly:<br>
            {{{rateProperty this.child_friendly}}}<br>
            Dog Friendly:<br>
            {{{rateProperty this.dog_friendly}}}<br>
            Energy Level:<br>
            {{{rateProperty this.energy_level}}}<br>
            Grooming:<br>
            {{{rateProperty this.grooming}}}
          </div>
          <div class="">
            Health Issues:<br>
            {{{rateProperty this.health_issues}}}<br>
            Intelligence:<br>
            {{{rateProperty this.intelligence}}}<br>
            Shedding Level:<br>
            {{{rateProperty this.shedding_level}}}<br>
            Social Needs:<br>
            {{{rateProperty this.social_needs}}}<br>
            Stranger Friendly:<br>
            {{{rateProperty this.stranger_friendly}}}<br>
            Vocalisation:<br>
            {{{rateProperty this.vocalisation}}}
          </div>
        </div>
        </p>
        <p>
          {{this.description}}
        </p>
        <p>
          {{#if this.wikipedia_url}}
          Wikipedia:<br>
          <a href={{this.wikipedia_url}}>{{this.wikipedia_url}}</a><br>
          {{/if}}
          {{#if this.vetstreet_url}}
          Vetstreet:<br>
          <a href={{this.vetstreet_url}}>{{this.vetstreet_url}}</a>
          {{/if}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Understood</button> --}}
      </div>
    </div>
  </div>
</div>
{{/each}}


<div class="container col-md-9 my-3 p-0 d-flex justify-content-between align-items-center">
  <div class="d-flex my-3 p-0 col-5" id="search-container">
    {{!-- Search Bar --}}
    <form action="/cats/breeds/search" class="d-flex" method="GET">
      {{!-- Search Dropdown --}}
      <div class="mx-1">
        <select class="form-select" name="searchBy" id="search-list">
          <option {{searchByName search}} value="name">Name</option>
          <option {{searchByAltNames search}} value="alt_names">Alt Name</option>
          <option {{searchByOrigin search}} value="origin">Origin</option>
        </select>
      </div>

      {{!-- Search text --}}
      <input class="form-control me-2 w-50" type="text" name="keywords" placeholder="Search" {{#if
        keywords}}value={{keywords}}{{/if}}>
      {{!-- Search Button --}}
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

  {{!-- Sort Dropdown --}}
  <form action="/cats/breeds/sort" class="d-flex align-items-center" method="GET">
    <label for="sort-list" class="text-nowrap">
      Sort by:
    </label>
    <select class="form-select mx-1" name="property" id="sort-list">
      {{#if prop}}{{{renderSortOption prop breeds}}}
      {{else}}
      <option value="affection_level">Affection Level</option>
      <option value="adaptability">Adaptability</option>
      <option value="child_friendly">Child Friendly</option>
      <option value="dog_friendly">Dog Friendly</option>
      <option value="energy_level">Energy Level</option>
      <option value="grooming">Grooming</option>
      <option value="health_issues">Health Issues</option>
      <option value="intelligence">Intelligence</option>
      <option value="shedding_level">Shedding Level</option>
      <option value="social_needs">Social Needs</option>
      <option value="stranger_friendly">Stranger Friendly</option>
      <option value="vocalisation">Vocalisation</option>
      {{/if}}
    </select>
    <button class="btn btn-outline-success my-1" type="submit" id="sort-btn" aria-expanded="false">Sort</button>
  </form>

  {{!-- Filter Checkbox --}}
  <form action="/cats/breeds/filter" class="d-flex align-items-end" method="GET">
    <div class="d-flex flex-column mx-3">
      {{#if checkbox}}{{{renderCheckbox checkbox}}}
      {{else}}
      <label class="form-check-label" for="natural">
        <input class="form-check-input mx-1" type="checkbox" name="natural" id="natural">
        natural
      </label>
      <label class="form-check-label" for="hairless">
        <input class="form-check-input mx-1" type="checkbox" name="hairless" id="hairless">
        hairless
      </label>
      <label class="form-check-label" for="short_legs">
        <input class="form-check-input mx-1" type="checkbox" name="short_legs" id="short_legs">
        short legs
      </label>
      {{/if}}
    </div>
    <div>
      <input class="btn btn-outline-success" type="submit" value="Filter">
    </div>
  </form>

  {{!-- View Switch --}}
  <div class="d-flex flex-column" id="switch-container">
    <a href="/cats/breeds/card"><i class="fa fa-th fa-lg mx-2 mb-3" aria-hidden="true" id="switch-card"></i></a>
    <a href="/cats/breeds/list"><i class="fas fa-list fa-lg mx-2" id="switch-list"></i></a>
  </div>
</div>

{{!-- Information Card --}}
<div class="row justify-content-center" id="card-container">
  {{#each breeds}}
  <div class="card col-sm-10 col-md-3 mx-2 my-1" style="height: 430px !important;">
    <div class="card-header">
      {{this.name}}
    </div>
    <img src={{this.image.url}} data-bs-toggle="modal" data-bs-target="#breed-{{this._id}}"
      class="card-img-top h-50 img-thumbnail" alt={{this.name}}>
    <div class="card-body">
      <p class="card-text">
        Origin: {{this.origin}}<br>
        Weight: {{this.weight.metric}} kg<br>
        Life Span: {{this.life_span}} yrs
      </p>
      <a href="" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#breed-{{this._id}}">
        Detail
      </a>
    </div>
  </div>
  {{/each}}
</div>