<!-- Modal -->
{{#each breeds}}
<div class="modal fade" id="{{this.id}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{this.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          {{#if this.alt_names}}Alt Names: {{this.alt_names}}<br>{{/if}}
          Origin: {{this.origin}}<br>
          Weight: {{this.weight.metric}} kg<br>
          Life Span: {{this.life_span}} yrs
        </p>
        <p>
        <div class="d-flex justify-content-evenly" id="rating-container">
          <div class="">
            Affection Level:<br>
            {{{rateProperty this.affection_level}}}<br>
            Adaptability:<br>
            {{{rateProperty this.adaptability}}}<br>
            Child Friendly:<br>
            {{{rateProperty this.child_friendly}}}<br>
            Dog Friendly:<br>
            {{{rateProperty this.dog_friendly}}}<br>
            Energy Level:<br>
            {{{rateProperty this.energy_level}}}<br>
            Grooming:<br>
            {{{rateProperty this.grooming}}}
          </div>
          <div class="">
            Health Issues:<br>
            {{{rateProperty this.health_issues}}}<br>
            Intelligence:<br>
            {{{rateProperty this.intelligence}}}<br>
            Shedding Level:<br>
            {{{rateProperty this.shedding_level}}}<br>
            Social Needs:<br>
            {{{rateProperty this.social_needs}}}<br>
            Stranger Friendly:<br>
            {{{rateProperty this.stranger_friendly}}}<br>
            Vocalisation:<br>
            {{{rateProperty this.vocalisation}}}
          </div>
        </div>
        </p>
        <p>
          {{this.description}}
        </p>
        <p>
          {{#if this.wikipedia_url}}
          Wikipedia:<br>
          <a href={{this.wikipedia_url}}>{{this.wikipedia_url}}</a><br>
          {{/if}}
          {{#if this.vetstreet_url}}
          Vetstreet:<br>
          <a href={{this.vetstreet_url}}>{{this.vetstreet_url}}</a>
          {{/if}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
{{/each}}


<div class="container col-md-9 my-3 p-0 d-flex justify-content-between align-items-center">
  <div class="d-flex my-3 p-0 col-6" id="func-container">
    {{!-- Search Bar --}}
    <form action="/cats/search" class="d-flex" method="GET">
      {{!-- Search Dropdown --}}
      <div class="dropdown mx-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="search-dropdown-btn"
          data-bs-toggle="dropdown" aria-expanded="false">
          By
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" id="search-list">
          <li class="dropdown-item btn active">Name</li>
          <li class="dropdown-item btn">Alt Name</li>
          <li class="dropdown-item btn">Origin</li>
        </ul>
      </div>

      {{!-- Search text --}}
      <input class="form-control me-2" type="text" name="keywords" placeholder="Search" aria-label="Search">
      {{!-- Search Button --}}
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

  {{!-- Sort Dropdown --}}
  <form action="/cats/sort" method="get">
    <label for="sort-list d-inline-flex align-items-center">
      Sort:
      <select class="form-select" name="property" id="sort-list">
        <option selected value="affection_level">Affection Level</option>
        <option value="adaptability">Adaptability</option>
        <option value="child_friendly">Child Friendly</option>
        <option value="dog_friendly">Dog Friendly</option>
        <option value="energy_level">Energy Level</option>
        <option value="grooming">Grooming</option>
        <option value="health_issues">Health Issues</option>
        <option value="intelligence">Intelligence</option>
        <option value="shedding_level">Shedding Level</option>
        <option value="social_needs">Social Needs</option>
        <option value="stranger_friendly">Stranger Friendly</option>
        <option value="vocalisation">Vocalisation</option>
      </select>
      <button class="btn btn-secondary" type="submit" id="sort-btn" aria-expanded="false">Sort</button>
    </label>
  </form>

  {{!-- Filter Dropdown --}}
  <div class="dropdown p-0 mx-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="filter-dropdown-btn" data-bs-toggle="dropdown"
      aria-expanded="false">Filter by</button>
    <ul class="dropdown-menu dropdown-menu-dark" id="filter-list" aria-labelledby="dropdownMenuButton2">
      <li><a class="dropdown-item active" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
</div>

{{!-- Information Card --}}
<div class="row justify-content-center" id="card-container">
  {{#each breeds}}
  <div class="card col-sm-10 col-md-3 mx-2 my-1" style="height: 430px !important;">
    <div class="card-header">
      {{this.name}}
    </div>
    <img src={{this.image.url}} data-bs-toggle="modal" data-bs-target="#{{this.id}}"
      class="card-img-top h-50 img-thumbnail" alt={{this.name}}>
    <div class="card-body">
      <p class="card-text">
        Origin: {{this.origin}}<br>
        Weight: {{this.weight.metric}} kg<br>
        Life Span: {{this.life_span}} yrs
      </p>
      <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{this.id}}">
        Detail
      </a>
    </div>
  </div>
  {{/each}}
</div>