<div class="container my-3 row justify-content-center">
  <div class="my-3 col-sm-6 col-md-3 justify-content-center" id="func-container">
    {{!-- Filter Dropdown --}}
    <form action="/cats/gallery/filter" class="d-flex" method="GET">
      <select class="form-select mx-2" name="filterBy" id="search-list">
        {{#if filterBy}}{{{renderImgFilter filterBy}}}
        {{else}}
        <option value="all">ALL</option>
        <option value="jpg">JPG</option>
        <option value="png">PNG</option>
        <option value="static">STATIC</option>
        <option value="gif">GIF</option>
        {{/if}}
      </select>
      {{!-- Filter --}}
      <button class="btn btn-outline-success" type="submit">Filter</button>
    </form>
  </div>

  {{!-- Image Card --}}
  <div class="row justify-content-around" id="card-container">
    {{#each images}}
    <div class="card col-sm-6 col-md-3 align-self-baseline px-0 mx-1">
      <div class="card-body">
        <img src={{this.url}} data-bs-toggle="modal" data-bs-target="#img-{{this._id}}"
          class="card-img-top img-thumbnail" alt={{this.name}}>
      </div>
      <a href={{this.url}} class="btn btn-outline-primary">
        See Original Img<i class="far fa-search mx-1"></i></i>
      </a>
    </div>
    {{/each}}
  </div>

</div>