<div class="container my-3 row justify-content-center">
  <div class="my-3 col-sm-6 col-md-3 justify-content-center" id="func-container">
    {{!-- Filter Dropdown --}}
    <form action="/cats/gallery/filter" class="d-flex" method="GET">

      <select class="form-select mx-2" name="searchBy" id="search-list">
        <option {{searchByName searchBy}} value="name">JPG</option>
        <option {{searchByAltNames searchBy}} value="alt_names">PNG</option>
        <option {{searchByAltNames searchBy}} value="alt_names">STATIC</option>
        <option {{searchByOrigin searchBy}} value="origin">GIF</option>
      </select>

      {{!-- Filter --}}
      <button class="btn btn-outline-success" type="submit">Filter</button>
    </form>
  </div>

  {{!-- Image Card --}}
  <div class="row justify-content-around" id="card-container">
    {{#each images}}
    <div class="card col-sm-6 col-md-3 align-self-baseline px-0 mx-1">
      <div class="card-body">
        <img src={{this.url}} data-bs-toggle="modal" data-bs-target="#img-{{this._id}}"
          class="card-img-top img-thumbnail" alt={{this.name}}>
      </div>
      <a href="" class="btn btn-outline-primary">
        Download<i class="fas fa-arrow-alt-to-bottom mx-1 card-foot"></i>
      </a>
    </div>
    {{/each}}
  </div>

</div>